/*--------------------------------------------------------------
## Main Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: Georgia, serif;
$font-default-sans-serif: Arial, Helvetica, sans-serif;

$font-main: $font-default-sans-serif;

// Colors
$white: #fff;
$black: #000;

$site-colors: (
	'white': $white,
	'black': $black
) !default;

// 404 - Set this color to follow site style
$c-404-numbers: $black;
$c-404-text: $black;
$c-404-btn-color: $white;
$c-404-btn-bg: $black;

// Styleguide colors
$styleguide-orange: #e95626;
$styleguide-blue: #71999e;

// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 640;
$tablet: 991;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1400;


/*--------------------------------------------------------------
## Bootstrap Variables
--------------------------------------------------------------*/
$enable-grid-classes: true !default;

// Media queries breakpoints - Grid breakpoint
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
