/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: $font-main;
	font-size: 16px;
	line-height: 1.35;
}

pre {
	background: #bebebe;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

// Icon font
[class*='font-'] {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $black;
	font-size: 30px;
	line-height: 1;
}

.page-title {
	display: block;
    font-weight: bold;
	font-size: 60px;
}

.section-title {
	display: block;
    font-weight: bold;
	font-size: 50px;
}

/*--------------------------------------------------------------
## Entry Content
--------------------------------------------------------------*/
.entry-content {
	line-height: 1.35;
	font-size: 16px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 15px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	h5 {
		font-size: 12px;
	}

	h6 {
		font-size: 10px;
	}

	p {
		line-height: 1.45;
		margin-bottom: 25px;
	}

	li {
		margin-bottom: 4px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol {
		margin-bottom: 27px;
	}

	ul {
		margin-left: 20px;

		li {
			&::before {
				content: '-';
				display: inline-block;
				margin-right: 4px;
			}
		}
	}

	ol {
		margin-left: 28px;

		li {
			list-style: decimal;
		}
	}

	a {
		display: inline-block;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 0;
			background: $black;
			transition: $dur $ease;
		}

		&:hover {
			&::before {
				width: 100%;
			}
		}
	}

	table {
		border-collapse: collapse;
		color: $black;
		margin: 25px 0 35px;
		overflow-x: visible;
		table-layout: fixed;
		width: 100%;
		max-width: 700px;
		display: table;

		@include mq(767px) {
			display: block;
			overflow-x: scroll;
		}
	}

	tbody {
		width: 100%;

		@include mq(767px) {
			width: 700px;
			display: block;
		}
	}

	tr {
		vertical-align: top;

		&:first-child td {
			padding-top: 0;
		}
	}

	th {
		border-bottom: 2px solid $black;
		font-weight: 400;
		padding-bottom: 8px;
		color: $black;
	}

	td {
		border-bottom: 1px solid $black;
		padding: 20px 0 5px;
	}

	blockquote {
		margin: 20px 25px;
	}
}
