{% for section in sections %}
	<div id="section-{{ loop.index + 2 }}" data-section-title="{{ section.title }}" class="styleguide__section js-styleguide-section">
		<div class="container">
			<div class="styleguide__head">
				<h2 class="styleguide__head--mod">{{ section.title }}</h2>
			</div>
		</div>

		<div class="styleguide__section-content">
			{% include section.twig with section.json only %}
		</div>
	</div>
{% endfor %}
