{% extends "_sg-section-wrap.twig" %}

{% block sgContent %}
	<ul class="styleguide__colorpallet">
		{% for color in colors %}
			<li class="styleguide__colorpallet--mod">
				<span class="styleguide__color bg-{{ color }}"></span>
				<span class="styleguide__color-name">{{ color }}</span>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
