{% extends "../twig/main/base.twig" %}

{% block content %}
	<div class="styleguide">
		<div class="styleguide__scrollspy-nav js-styleguide-nav-wrap">
			<span class="styleguide__scrollspy-nav-title">Style Nav</span>
			<span class="styleguide__scrollspy-nav-close js-styleguide-close">X</span>
			<ul class="styleguide__scrollspy-nav-list js-styleguide-nav">
			</ul>
		</div>

		<div class="container">
			<h1 class="styleguide__main-head">UI Style Guide</h1>
		</div>

		{% include '_sg-colors.twig' with colors only %}
		{% include '_sg-typography.twig' with typography only %}
		{% include '_sg-buttons.twig' with buttons only %}
		{% include '_sg-sections.twig' with components only %}
	</div>
{% endblock %}

